@model IEnumerable<Sale>
@{
    ViewData["Title"] = "Страница админа";
}



<div class="container-fluid">
  <div class="row">
    <main role="main" class="col">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Статистика продаж на @ViewBag.Year год</h1>
        
        <div class="btn-group">
          <a type="button" class="btn btn-secondary"asp-controller="Sale" 
             asp-action="AllSales" asp-route-Year="@DateTime.Now.Year">Текущий год</a>
          <button type="button" 
                  class="btn btn-secondary dropdown-toggle dropdown-toggle-split" 
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            @for (int i = 2017; i < DateTime.Now.Year; ++i)
            {
              <a class="dropdown-item" asp-controller="Sale" asp-action="AllSales"
                 asp-route-Year="@i">@i год</a>
            }
          </div>
        </div>
      </div>
        
      <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
        
      <h2>Все покупки</h2>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
          <tr>
            <th>Id</th>
            <th>Марка модель авто</th>
            <th>Покупатель</th>
            <th>Дата покупки</th>
            <th>Статус</th>
            <th>Действие</th>
          </tr>
          </thead>
          <tbody>
          @foreach (Sale sale in Model)
          {
            <tr>
              <td>@sale.Id</td>
              <td>@sale.Car.Mark @sale.Car.Model</td>
              <td>@sale.User.UserName</td>
              <td>@sale.Date_Sold</td>
              <td>@sale.Status</td>
              <td>
                @if (sale.Status == "Выполняется")
                {
                  <a asp-controller="Sale" asp-action="ChangeStatus" asp-route-id="@sale.Id" 
                     class="btn btn-primary">Выполнить</a>
                }
                else
                {
                  @(new string("Выполнено"))
                }
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </main>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
<script type="text/javascript">
$('.dropdown-toggle').dropdown()
</script>
@{
  Dictionary<int, decimal> proceed = ViewBag.sales;
}
<script type="text/javascript">
(function () {
  'use strict'
  feather.replace()
  // Graphs
  var ctx = document.getElementById('myChart')
  // eslint-disable-next-line no-unused-vars
  var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [
        'Январь',
        'Февраль',
        'Март',
        'Апрель',
        'Май',
        'Июнь',
        'Июль',
        'Август',
        'Сентябрь',
        'Ноябрь',
        'Декабрь'
      ],
      datasets: [{
        data: [
          @for (int i = 1; i < 12; ++i)
          {
            @((int)proceed[i]+", ")
          }      
          @proceed[12]
        ],
        lineTension: 0,
        backgroundColor: 'transparent',
        borderColor: '#007bff',
        borderWidth: 4,
        pointBackgroundColor: '#007bff'
      }]
    },
    options: {
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: false
          }
        }]
      },
      legend: {
        display: false
      }
    }
  })
})()
</script>