@model IEnumerable<CarDealerCore.Models.Admin>
@{
    Layout = "/Views/Layout.cshtml";
}

<link rel="stylesheet" href="~/css/table.css" />
<table class="table_dark">
    <tr>
        <td>ID</td>
        <td>Login</td>
        <td>Password</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Login</td>
            <td>@item.Password</td>
            <td><a asp-area="" asp-controller="Admins" asp-action="EditAdminPage" asp-route-id="@item.Id">Edit</a></td>
            <td><a asp-area="" asp-controller="Admins" asp-action="DeleteAdmin" asp-route-id="@item.Id">Delete</a></td>
        </tr>
    }
</table>