@model IEnumerable<CarDealerCore.Models.Car>
@{
    Layout = "/Views/Layout.cshtml";
}

<link rel="stylesheet" href="~/css/table.css" />
<table class="table_dark">
    <tr>
        <td>ID</td>
        <td>VIN</td>
        <td>Mark</td>
        <td>Model</td>
        <td>Description</td>
        <td>Price</td>
        <td>IsSold</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.VIN</td>
            <td>@item.Mark</td>
            <td>@item.Model</td>
            <td>@item.Description</td>
            <td>@item.Price</td>
            <td>@item.IsSold</td>
            <td><a asp-area="" asp-controller="Cars" asp-action="EditCarPage" asp-route-id="@item.Id">Edit</a></td>
            <td><a asp-area="" asp-controller="Cars" asp-action="DeleteCar" asp-route-id="@item.Id">Delete</a></td>
        </tr>
    }
</table>
