@model IEnumerable<CarDealerCore.Models.Sale>
@{
    Layout = "/Views/Layout.cshtml";
}

<link rel="stylesheet" href="~/css/table.css" />
<table class="table_dark">
    <tr>
        <td>ID</td>
        <td>Buyer</td>
        <td>Car</td>
        <td>Date of sale</td>
        <td>Status</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>@item.Id</td>
    <td>@item.User.Login</td>
    <td>@item.Car.Mark  @item.Car.Model</td>
    <td>@item.Date_Sold.ToShortDateString()</td>
    <td>@item.Status</td>
    <td><a asp-area="" asp-controller="Sales" asp-action="EditSalesPage" asp-route-id="@item.Id">Edit</a></td>
    <td><a asp-area="" asp-controller="Sales" asp-action="DeleteSale" asp-route-id="@item.Id">Delete</a></td>
</tr>
    }
</table>
